body {
  margin: 0;
}

#chartdiv {
  width		: 900px;
  height		: 400px;
  font-size	: 11px;
}

.editer-aktivitet {
  cursor: pointer;
}

.text-area{
  width:  100%;
}

.dropdown{
  width: 33.33333% !important;
  z-index: 100000;
}
