body {
  margin: 0;
}

#chartdiv {
  width		: 900px;
  height		: 400px;
  font-size	: 11px;
}

.vis-navigering {
  cursor: pointer;
}

.standard-ikon {
  height: 32px;
  min-width: 32px;
  width: 32px;
  margin-top: 4px;
  cursor: pointer;
}

.text-area{
  width:  100%;
}

.dropdown{
  /*width: 33.33333% !important;*/
  z-index: 100000;
}

.wrapword{
text-align: left !important;
white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
white-space: -webkit-pre-wrap; /*Chrome & Safari */
white-space: -pre-wrap;      /* Opera 4-6 */
white-space: -o-pre-wrap;    /* Opera 7 */
white-space: pre-wrap;       /* css-3 */
word-wrap: break-word;       /* Internet Explorer 5.5+ */
white-space: normal;
}

.mdl-layout__content {
    z-index: 0;
}


.mdl-switch__ripple-container {
    top: -2px;
    left: -4px;
    width: 26px;
    height: 26px;
}